/* Mission Section */
.mission {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border-top: 1px solid rgba(212, 212, 212, 0.5);
  margin-top: 5rem;
  margin-bottom: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
  }

  @media (min-width: 1024px) {
    margin-top: 8rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mission-left {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-right: 2rem;
    gap: 2rem;

    @media (min-width: 768px) {
      grid-column: span 4 / span 4;
      border-right: 1px solid rgba(212, 212, 212, 0.5);
    }

    @media (min-width: 1024px) {
      grid-column: span 3 / span 3;
      padding-top: 4rem;
      padding-right: 4rem;
    }

    .label {
      display: flex;
      gap: 0.5rem;
      font-size: 0.75rem;
      font-family: monospace;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #737373;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 500;
      color: #171717;
      letter-spacing: -0.025em;

      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }

  .mission-right {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 2rem;
    gap: 2rem;
    justify-content: space-between;

    @media (min-width: 768px) {
      grid-column: span 8 / span 8;
    }

    @media (min-width: 1024px) {
      grid-column: span 9 / span 9;
      padding-left: 4rem;
      gap: 5rem;
      padding-top: 4rem;
    }

    h3 {
      font-size: 2.25rem;
      font-weight: 400;
      color: #171717;
      letter-spacing: -0.025em;
      line-height: 1.05;
      max-width: 100%;

      @media (min-width: 768px) {
        font-size: 3rem;
      }

      @media (min-width: 1024px) {
        font-size: 3.75rem;
      }

      @media (min-width: 1280px) {
        font-size: 4.5rem;
      }
    }

    .mission-bottom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-end;
        gap: 3rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.625;
        font-weight: 300;
        color: #525252;
        max-width: 100%;

        @media (min-width: 1024px) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
